<h1><%= current_user.username %>, Add New Stocks</h1>
<br>

<form action='/institutions/show' method="post">
  Price:<input type="text" name="price">
  Number of Stocks:<input type="text" name="number_of_stocks">
  <br><br>
  <input type="submit" value="Submit">
</form>
