<h1>Welcome to Investhub!</h1><br>
<h2>Track all your investments made</h2><br>
<h3>Below is a list of Your current company investments:</h3><br>

<h4>Company Names:</h4><br>


<a href="/investhub/show_investments">Show Detailed Investments</a>
<a href="/investhub/new">Add New Investments</a>
<a href="/investhub/edit_investments">Edit Investments</a>
<a href="/investhub/investments">Manage Investments</a>
