<h1>Hi <%= @user.username} %>, Welcome to your Investhub!</h1>

<h2>Your Wallet: <%=user.wallet %>

<h3>Add Companies to your Portfolio:</h3>
<h3>Edit Existing Companies within your Portfolio:</h3>
<h3>Delete Companies within your Portfolio:</h3>

<h3><a class="button" href="/logout">Log Out</a></h3><br>
