<h1>Welcome to Investhub!</h1><br>
<h2>Track all your investments made</h2><br>
<h3>Below is a list of options to choose from:</h3><br>

<% if logged_in? %>
      <div>
         <a href='/users/<%= current_user.slug %>' class="text-center my-4 btn-hover border border-0 rounded list-group-item list-group-item-action p-2 h3 font-weight-bold" style=");">Welcome <%= current_user.username %>!</a>
      </div>
      <div class="mb-3">
        <a href='/investments' class="btn btn-xlarge btn-lg btn-secondary border border-muted m-2">View User Investments</a>
        <a href='/investments/<%= current_user.slug %>' class="btn btn-xlarge btn-lg btn-dark border border-muted m-2">View Your Profile</a>
        <a href='/institutions/show' class="btn btn-xlarge btn-lg btn-primary border border-muted m-2">View Institution Index</a>
        <a href='/institutions/new' class="btn btn-xlarge btn-lg btn-primary border border-muted m-2">Add Institution</a>
        <a href='/institutions/edit' class="btn btn-xlarge btn-lg btn-primary border border-muted m-2">Edit Institution</a>
        <a href='/stocks/show' class="btn btn-xlarge btn-lg btn-primary border border-muted m-2">Show Stocks</a>
        <a href='/stocks/new' class="btn btn-xlarge btn-lg btn-primary border border-muted m-2">Add Stocks</a>
        <a href='/stocks/edit' class="btn btn-xlarge btn-lg btn-primary border border-muted m-2">Edit Stocks</a>
      </div>

     <%else%>
         <a href='/login' class="btn btn-xlarge btn-lg btn-primary border border-muted m-2">Log in</a>
         <a href='/signup' class="btn btn-xlarge btn-lg btn-secondary border border-muted m-2 ">Sign up</a>
     <%end%>
