<h1>Welcome to Investhub!</h1><br>
<h2>Track all your investments made</h2><br>
<h3>Below is a list of options to choose from:</h3><br>

<form action='/show' method="get">
<a href="/institutions/show_investments">Show Detailed Institution</a>
<a href="/institutions/new">Add New Institution</a>
<a href="/institutions/edit_investments">Edit Institution</a>
<a href="/investments/show">Manage Investments</a>
</form>
