<h1>Create your new company to add to your Investhub:

<form action='/investhub/new' method="post">
  <h3>Company Name:</h3>
  <input type="text" name="name">
  <h3>Company Logo:</h3>
  <input type="text" name="image_url">
  <h3>Company Year Founded:</h3>
  <input type="text" name="year_founded">
  <h3>Company Industry:</h3>
  <input type="text" name="industry">
  <h3>Company Description:</h3>
  <input type="text" name="description">
  <br>

  <form class="" action="/investhub/new" method="post">
    <input type="submit" id="submit" value="Submit"> <input type="submit" id="submit" value="Logout">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" name="" value="Delete This Company">
  </form>

</form>
