<h1>Welcome, <%= @user.username %>, Here Are All Of Your Investments</h1>

<%=@user.institutions.each do |institution| %>

<%=institution.name%>

<% end %>

<form class="" action="/investhub/<%=@user.institution.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete This Company">
</form>
