<h1>Welcome, <%= @user.username %>, Here Are All Of Your Investments</h1>

<% @companys.each do |company| %>

  <h4><a href="/investhub/<%= company.id %>"><%= company.name %></a></h4>
<form class="" action="/investhub/<%= company.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="" value="Delete This Company">
</form>
