<div class="container">
  <h1>Welcome to InvestHub!</h1>

  <h2>Create or Log In to your Account</h2>

  <h3>Manage all your investment needs right in the Investhub!</h3>

  <h5>We have a list of top companies stock for viewing and investing in!</h5>

  <h6>Disclaimer!: All stock prices are based on the average trading price for the day.</h6>
</div>
